.office-form {
    /* margin: auto 100px; */
    background: #D6D3F0;
    width: 800px;
    height:600px;
    display:flex;
    align-items:center;
    justify-content:center;
    /* position: absolute; */
    /* margin-top:5%;
    margin-left:25%; */
    /* left: 30%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
}

button {
    background-color: steelblue;
    outline: none;
    cursor: pointer;
    max-width:125px;
    font-size: 1.7rem;
    font-weight: 500;
    margin-top:20px;
    font-family: 'Merriweather', serif;
    display:flex;
    align-content:center;
    
}

 #input {
    margin-top:50px;
    font-size: 1.5rem;
    border: 1px solid #008080;
    display:block;
    width:100%;
    font-family: 'Merriweather', serif;
}

input[type=checkbox] {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    padding: 10px;
}

.log-out {
    margin-top: 75px;
}

#office-page {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.patient-info {
    display:flex;
    /* position: absolute; */
    /* bottom: 10px; */
    flex-direction:column;
    /* right: 10%; */
    bottom: 20%;
    /* background: #D6D3F0; */
    color:black;
    margin-top:30px;
    
}


.information{
    display: flex;
    justify-content: center;

}

.immunizations{
    margin-top:60px;
}

.patient-link{
    text-decoration: none !important;
}